<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form action="/auth/login" method="post" autocomplete="off">
        <h2>Login Form</h2>
        <!--Flash Message Section-->
        <%-include('../partials/flash_message')%>

        <div class="inputBox">
            <input type="text" name="username" required placeholder="" value="" autocomplete="off">
            <label>Username / Email</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required placeholder="" value="" autocomplete="off">
            <label>Password</label>
        </div>
        <div class="button"> 
            <input type="submit" value="Login">
        </div>

    </form>
</div>
</body>
</html>