<%for(msg of messages){%>
    <%if(msg.type === 'info'){%>
        <div class="alert alert-success" role="alert"><%=msg.text%></div>
    <%} else if (msg.type === 'warn'){%>
        <div class="alert alert-warning" role="alert"><%=msg.text%></div>
    <%} else if (msg.type === 'error'){%>
        <div class="alert alert-danger" role="alert"><%=msg.text%></div>
    <%}%>
<%}%>