<%if(images !== undefined){%>
    <h2>Images you can attach to the article</h2>
    <ul class="list-group">
        <%for(image of images) {%>
            <li class="list-group-item">
                <code><%=image.filePath %></code>
                <img src="<%= image.filePath %>" alt="<%= image.id %>" class="img-fluid rounded" style="max-width: 150px;">
            </li>
        <%}%>
    </ul>
<%}%>